<section id="userBookings">
  <h1 class="page-title">{{title}}</h1>
  <div class="row">
    <ng-container>

      <div class="col-md-4">
        <div class="card text-center">

          <div class="card-header">
            From: Some User
          </div>
          <div class="card-block">
            <ng-container>
              <h4 class="card-title">Rental Title - Rental City </h4>
            </ng-container>
            <p class="card-text booking-days">
              2020/02/02 - 2020/02/07 | 5 nights
            </p>
            <p class="card-text"><span>Price: </span> <span class="booking-price-value">$250</span></p>
            <a class="btn bwm-btn-main">Go to Rental</a>
            <button class="ml-1 btn btn-danger">Delete
            </button>
          </div>
          <div class="card-footer text-muted">
            Created at 2020/02/01
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
