<div class="bwm-list-page">
  <h1 class="title">Your home all around the World</h1>

  <div class="row">
    <div *ngFor="let rental of rentals" class="col-md-3 col-xs-12">
      Parent :{{parentData}}
      <app-rental-card [rental]="rental" [(childData)]="parentData"></app-rental-card>
      <!-- 2 way data binding is transformed into this -->
      <!-- <bwm-rental-card 
          [rental]="rental"
          [childData]="parentData"
          (childDataChange)="parentData = $event">
        </bwm-rental-card> -->
    </div>
  </div>
</div>
