<div class="bwm-list-page">
  <h1 class="title">Your home all around the World</h1>

  <div class="row">
    <div *ngFor="let rental of rentals" class="col-md-3 col-xs-12">

      <app-rental-card [rentalItem]="rental"></app-rental-card>

     <!--  <div *bwmNgIf="rental.category === 'house'">
        <h1>I am a house!</h1>
      </div> -->


    </div>
  </div>
</div>

<!-- <div *bwmNgFor="let num of [1,2,3]" class="col-md-3 col-xs-12">
      {{num}}
    </div> -->

<!-- Angular consumed the <ng-template> content during its actual rendering and replaced the <ng-template> with a diagnostic comment. -->
<!-- <ng-template bwmNgFor let-num [bwmNgForOf]="[1,2,3]">
      <div class="col-md-3 col-xs-12">
        {{num}}
      </div>
    </ng-template> -->
